*{
    margin: 0;
    padding: 0  ;
}
@font-face{
    font-family: myfont;
    src: url(myfonts/ElsieSwashCaps-Regular.ttf);
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
    position: relative; 
}

.main-nav li {
    display: inline-block;
    margin-top: 40px;
}

.main-nav li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    font-family: myfont, cursive;
    font-size: 19px;
    
    
}
.main-nav li a:hover {
    border-bottom: 3px solid #cebc35;
}

.logo img {
    width: 276px;
    height: auto;
    float: left;
    padding-left: 70px;
}

.login {
    float: right;
    list-style: none;
    margin: 3px 5px;
}
#btnlogin, #btnregister {
    border: 1px solid black;
    padding: 3px 10px 3px 10px;
    background-color: rgba(218, 175, 96, 0.884);
}

#btnlogin:hover {
    border: 1px solid #d5cfcf;
    background-color: #191919;
    color: #d5cfcf;
}

#btnregister:hover {
    border: 1px solid #d5cfcf;
    background-color: #191919;
    color: #d5cfcf;
}

body {
    font-family: monospace;
    background-color:#dacb5d;
}

.row {
    max-width: 100%;
    margin: auto;
    padding: auto;
}

.clear {
    clear: both;
}


.show {
    width: 100%;
    height: 70px;
    background-color: black;
    border-top: 3px solid #cebc35;
}

.ten {
    font-family: myfont;
    font-size: 60px;
    color: #000000;
    text-align: center;
    width: 100%;
    height: 90px;
    margin-top: -8px;
    padding: 0;
}


/*<-- mau gold #9E8419-->*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}   

/* css - show */

li{
    display: inline-block;
   
}

li img {
    margin-top: 10px;
}

li #textwifi {
    color: #cebc35;
    float: left;
}

li #p1 {
    color: #ffffff;
    margin-top: 10px;
    float:right;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif; 
}

li #p2 {
    color: #ffffff;
    margin-top: 4px;
    float:right;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif; 
}

li #p3 {
    color: #ffffff;
    margin-top: 6px;
    float:right;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; 
}

#wifi {
    margin: 12px ;
    margin-left: 40px;

}

#tik {
    width: 40px;
    height: auto;
    float: left;
}

#location {
    border: 1px solid white;
    width: 40px;
    height: auto;
    margin: 15px ;
    margin-left: 100px;
    float: left;
}
/*-----------------*/

.header {
    width: 100%;
    height: 120px;
    background-color: black;
    position: fixed;
    z-index: 99;
    border-bottom: 3px solid #cebc35;
}

/* reponsive */
.drop-menu {
    float: right;
}

.drop-menu ul {
    background-color: black;
    width: 100%;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

.drop-menu ul li {
    display: inline-block;
    padding: 2px;
}

.drop-menu ul li:hover{
    border-bottom: 3px solid rgba(213, 143, 13, 0.884);
}

.handle {
    border-top: 1px solid #cebc35;
    width: 100%;
    background: #000000;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
     display: none; 
}


/* responsive  screen */
@media screen and (max-width: 1300px) {
    .drop-menu{
        width: 100%;
    }
    .drop-menu ul{
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
        background: rgb(0, 0, 0);
        border-top: 1px solid #cebc35;
    }
   
    .drop-menu ul li {
        padding: 0 auto;  
        height: auto;
        margin: 1px;
    }
}
/* responsive menu header */

@media only screen and (max-width:1100px){
    .drop-menu {
        width: 100%;
        max-height: 0;
        text-align: center;
    }
    .drop-menu{
        width: 100%;
    }
    .drop-menu ul{
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
        background: rgb(0, 0, 0);
        border-top: 1px solid #cebc35;
    }
   
    .drop-menu ul li {
        padding: 0 auto; 
        height: auto;
        margin: 1px;
    }
}

/* responsive menu handle*/
@media screen and (max-width: 600px) {
 
    .active {
        display: block;
    }
    ul {
        width: 100%;
        display: none;
    }

    .drop-menu ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: center;
    }

    .handle{
        display: block;
    }
    .ul-show {
        display: block;
    }
}
/* responsive show */
@media screen and (max-width: 530px) {
    .show .container-show .row1 li img {
        margin: 0;
        padding: 0;
        width: 20px;
    }
    .show .container-show .row1 li #p1 {
        font-size: 10px;
    }
    .show .container-show .row1 li #h1 {
        font-size: 5px;
    }
    .show .container-show .row1 li #p2 {
        margin-top: 0px;
        font-size: 10px;
    }
    .show .container-show .row1 li #h2 {
        font-size: 5px;
    }
    .show .container-show .row1 li #p3 {
        margin-top: 0px;
        font-size: 10px;
    }
    .show .container-show .row1 li #h3 {
        display: none;
    }
    .ten {
        font-size: 35px;
        height: auto;
    } 
    .show {
        height: 50px;
    }
}

/* responsive form login */
@media screen and (max-width: 455px){
    .login {
        display: none;
    }
}

/* content */
 .container {
     width: 100%;
     height: auto;
     background: #e2dfdf;
     margin: auto;
     padding: auto;
 }
 /* footer{
     background-color: #000000;
 } */

 .footer-basic {
     background-color: #000000;
     font-family: Arial, Helvetica, sans-serif;
     color: #ffffff;
     margin-bottom: 0;
     padding-bottom: 10px;
 }
